#app {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    height: auto;
    width: 100%;

    background-image: url(assets/app-cover.jpeg);
    background-size: cover;
    background-position: bottom;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 0px;
}