html,
body {
	height: 100%;
	width: 100%;
	margin: 0px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	align-items: center;
}

#nav {
	display: flex;
	justify-content: flex-start;
	flex-wrap: nowrap;

	height: auto;
	width: 90%;
	position: fixed;

	background-color: rgba(0, 0, 0, 0.432);
	-webkit-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.43);
	-moz-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.43);
	box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.43);

}

.btn {
	text-align: center;
	color: rgb(255, 255, 255);
	font-size: 18pt;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	padding: 7px;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: 10px;
}

#spc {
	margin-left: auto;
	margin-right: 0px;
}

.btn:hover {
	background-color: rgb(0, 0, 0);
	cursor: pointer;

}

a {
	text-decoration: none;
	color: white
}


#cover {
	width: 100%;
	height: 100vh;
	background-image: url(assets/back-cover5.jpeg);
	background-size: cover;
	background-position: center;
}


#app-cont {
	height: 700px;
	width: 100%;
	background-image: url(assets/app-cover4.jpg);
    background-size: cover;
    background-position: center;

}









