.cards {
    background-color: rgba(0, 0, 0, 0.363);
    -webkit-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.43);
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.43);
}